
#navigation ul.menu li {
float:right;
}

#navigation ul.menu li a:hover
{
  background-color: transparent;/*reset om.css*/
  color:#000000;
}

#header-block .block {
float:none;
}

#header-block .block-inner li {
position:relative;
padding-top:20px;
}


div.tabs ul.tabs.primary li {
width:30px;/*eq min width*/
}

/*images*/
#header-block .block {
background:url("../images/spotlight-shadow-bottom-pngfix.png") repeat-x scroll left bottom transparent;
}

#header-block .block-inner li.first {
background:url("../images/ecotrash.gif") no-repeat scroll 70px bottom transparent;
}

#header-block .block-inner li.second {
background:url("../images/ecodreams.gif") no-repeat scroll 90px bottom transparent;
}

#header-block .block-inner li.third {
background:url("../images/ecobulb.gif") no-repeat scroll 90px bottom transparent;
}

#header-block .block-inner li.fourth {
background:url("../images/ecofuture.gif") no-repeat scroll 90px bottom transparent;
}

#highlighted-wrapper {
background:url("../images/headershadow-pngfix.png") no-repeat scroll center 0 transparent;
padding-bottom:20px;/*must not be used in style.css*/
}