/*.content div.field-item>p
{
clear:both;
float:none;
display:inline-block;
}*/


/*FONT*/
@font-face {
    font-family: 'EcoFiveBoldCE';
    src: url('../fonts/ecofive-webfont.eot');
    src: url('../fonts/ecofive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ecofive-webfont.woff') format('woff'),
         url('../fonts/ecofive-webfont.ttf') format('truetype'),
         url('../fonts/ecofive-webfont.svg#EcoFiveBoldCE') format('svg');
    font-weight: normal;
    font-style: normal;
}


html>/**/body.not-front.content-type-page .content .field-name-body div.field-item>p:first-child:first-letter, html>/**/body.not-front.content-type-article .content .field-name-body div.field-item>p:first-child:first-letter
{
font-family: EcoFiveBoldCE,Impact,sans-serif;
font-size:44px;
float:left;
margin:5px 5px 0 0;/*IE does not understand*/
line-height:33px;/*vert spacing is not character dependent for IE*/
}

html>/**/body.not-front.content-type-page .content .field-name-body div.field-item>p:after, html>/**/body.not-front.content-type-article .content .field-name-body div.field-item>p:after
{
    content: "";
    display: block;
    height: 0;
    /*clear: both;*/
    visibility: hidden;
}




/*RESETS*/
.clearfix{/*clear  before next div*/
clear:both;
width:100%;
}

.clear-block {
display:block;/*????? clear:all;*/
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th
{
vertical-align: baseline;
}

td
{
vertical-align: middle;
}

.block-inner {
padding: 0;
}

/*reset om base theme multiple area*/
.wrapper-inner {
margin: 0;
padding: 0;
}

dt {
padding-top: 6px;
}

.block-inner  ul li.collapsed {
list-style-image:none;
list-style-type:none;
}

.block-inner  ul li.leaf {
list-style-image:none;
list-style-type:none;
}

.links_foot
{
    font-style: oblique;
    margin: 20px 0;
    padding: 0;
}

.marker, .form-required {
    color: #00BB00;
}


/*BASIC SETTINGS*/
*
{
font-size:14px;
background-color: transparent;/*IE DD roundy js problem!*/
}

body {/*IE6 missing bg image!*/
background: url("../images/bg_body_strip.png") repeat-x scroll center 34px transparent;
color:#333333;
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
line-height:20px;
}

.wrapper-outer {
    width: 100%;
background: url("../images/bkg-fibertext.png") repeat scroll 0 0 transparent;
}

h1, h2, h3, h4, h5, h6
{
font-family: EcoFiveBoldCE,Impact,sans-serif;
color: #14801D;/*#599709; #5CA244*/
line-height:2em;
}

h1 {
    font-size: 2.4em;
    /*letter-spacing: -1px;*/
    text-shadow: 0 1px 0 #FFFFFF, 0 3px 0 #DDDDDD;
font-weight:normal;
}

h2 {
    font-size: 2.2em;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF, 0 3px 0 #DDDDDD;
}

h3 {
font-size:2.0em;
    font-weight: normal;
    text-shadow: 1px 1px 1px #CCCCCC;
}

/*h4, h5, h6
{
font-size: 1.2em;
}*/

h4 {
    font-size: 1.8em;
    font-weight: normal;
}

h5
{
font-size: 1.6em;
}

h6
{
font-size: 1.4em;
}

a {
color:#333333;/*#85913C*/
/*text-decoration:none;*/
font-weight: bold;
}

a:hover {
}

p, div {
line-height:1.5em;
}

p {
    margin-bottom: 0;/*reset.css*/
}

h2 a {
    color: #002244;/* #588E03;*/
    font-size: 30px;
    font-weight: normal;
}

h2 a:hover {
text-decoration: none;
text-shadow: none;
}

/*LAYOUTS*/
#sidebar-first {
    float: left;
    padding: 0 10px 0 14px;
    width: 200px;
}

#sidebar-second {
    float: right;
    margin: 0 0 0 0;
    padding: 30px 0 0 25px;
    width: 250px;
}

.one-sidebar #main {
    width: 680px;
    text-align:justify;
}


/*HEADER*/
#header {/*IE6 different img!*/
background: url("../images/leaves.gif") no-repeat scroll center 0 transparent;
z-index:1;
}

#logo-title {
    clear: both;
    float: none;
    height: 284px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 980px;
}

#navigation {
float:none;
height:38px;
margin-left:auto;
margin-right:auto;
padding-top:0;
width:980px;
z-index:100;
}

#navigation-inner.wrapper-inner  {
float:right;
padding:0;
}

#navigation ul.menu
{
    height: 45px;
}

/*#navigation ul.menu li, */
#navigation ul.menu li a {
    color: #5E6A63;
    font-size: 15px;
    font-variant: small-caps;
    height: 34px;
    line-height: 30px;
    text-align: center;
    border-top: 3px solid transparent;
}

#navigation ul.menu ul.menu
{
    background: none no-repeat scroll 0 0 transparent;
}

#navigation ul.menu li a
{
background-color: transparent;
padding: 0 12px;
}

#navigation ul.menu li.active-trail a
{
color: #909C95;/*default*/
}

#navigation ul.menu li:hover>a
{
background-color: transparent;
    color: #000000;
    border-top: 3px solid transparent;
}

#navigation ul.menu li.active-trail:hover a
{
color: #EEEEEE;/*also reset active-trail*/
}

/*SUBMENU NOT SUPPORTED*/

#navigation ul.menu ul.menu li
{
border-bottom: none;/*clear default ul.menu li*/
}

#navigation ul.menu ul.menu {
    height: 30px;
    position: absolute;
    top: -5px;
    width: 980px;
    z-index: 100;
width:980px;/*for hover*/
}
/*width: -moz-max-content;tranparent artifact!*/

#navigation ul.menu ul.menu a
{
/*float:left;*/
font-size: 16px;
font-weight:normal;
border-right: 1px solid #666666;
color:#DDDDDD;
}

#navigation ul.menu ul.menu li.last a
{
border-right: 0px solid #D5D5D5;
}

#navigation ul.menu li
{
position: static;/*IE?????make it inline*/
}

#navigation ul.menu li last
{
position: static;/*IE?????make it inline*/
border-right: 0px solid #DDFFDD;
}

#navigation ul.menu li.active-trail ul.menu/*li[class="leaf first active-trail item1"]*/
{
display: block;
}

#navigation ul.menu ul.menu li.active-trail
{
background-color: transparent;
/*clear default parent bgcolor*/
}

#navigation ul.menu li.active-trail ul.menu a {
    color: #4E8E02;
font-weight:bold;
}/*reset parent color*/

#navigation ul.menu li:hover ul.menu
{
z-index:1000;/*cover all submenus*/
}

#navigation ul.menu ul.menu li
{
height: auto;
width: auto;
top:10px;/*submenu top position*/
}

#navigation ul.menu ul.menu li a {
    background-color: transparent;
    font-variant: normal;
padding: 0 10px 0 10px;
    width: auto;
}

#navigation ul.menu ul.menu li a:hover/*default color*/
{
background-color: transparent;
color: #FFFFFF;
}

#navigation ul.menu ul.menu li:hover>a
{
border-radius: 0 0 0 0;
-moz-border-radius:0 0 0 0;
-webkit-border-radius:0 0 0 0;
-khtml-border-radius:0 0 0 0;
}


#header-block {
    background: url("../images/strip-fibertext-top.png") repeat-x scroll 0 0 #14801D;
    clear: both;
    float: none;
}

#header-block .block {
    background: url("../images/spotlight-shadow-bottom.png") repeat-x scroll left bottom transparent;
/*make height to wrap*/
    float: left;
    width: 100%;
}


#header-block .block-inner {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

/*    display: inline-block;*/

#header-block .content ul {
}

#header-block .block-inner li {
/*border-left:2px ridge #FFFFFF;*/
float:left;
margin:0 0 -35px 0;/*minus half img height*/
padding:4px 0 80px 20px; /*20px 70px*/
width:228px;
}

#header-block .block-inner li div.description
{
border-right:3px ridge #FFFFFF;
padding-right: 20px;
}

#header-block .block-inner li.fourth div.description
{
border-right:0px ridge #FFFFFF;
padding-right: 0;
width:208px;
}

#header-block .block-inner li.first {
background:url("../images/ecotrash.png") no-repeat scroll 70px bottom transparent;
border-left:0 solid #FFFFFF;
padding-left:0;
}

#header-block .block-inner li.second {
background:url("../images/ecodreams.png") no-repeat scroll 92px bottom transparent;
}

#header-block .block-inner li.third {
background:url("../images/ecobulb.png") no-repeat scroll 92px bottom transparent;
}

#header-block .block-inner li.fourth {
background:url("../images/ecofuture.png") no-repeat scroll 90px bottom transparent;
padding-right:0;
}

#header-block .block-inner li .title {
    color: #FFFFFF;
    font-family: EcoFiveBoldCE,Impact,sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 0 -1px 0 #666666;
}

#header-block .block-inner a {
    color: #FFFFFF;
text-shadow: 0 -1px 0 #666666;
}

#highlighted-wrapper
{
background:url("../images/headershadow.png") no-repeat scroll center 0 transparent;
margin:0 auto;
padding-top:20px;
width:980px;
}

#higlighted-inner {
}

#highlighted_left, #highlighted_middle,  #highlighted_right
{
float: left;
width:300px;
padding-left:20px;
    margin-top: 20px;
height: 160px;
}

#highlighted_left, #highlighted_middle
{
    background: url("../images/hl_separator.png") no-repeat scroll right 0 transparent;
}


/*    background: url("../images/grad_BW.png") repeat-x scroll 0 100% #F6F6F6;
    border: 1px solid #CFCFCF;*/

.block-system .block-inner {
}


#sidebar-first .block, #sidebar-second .block
{
    margin: 20px 0;
}


#sidebar-first .block-inner div.content, #sidebar-second .block-inner div.content
{
/*padding-top: 15px;*/
/*margin-bottom: 30px;*/
}

#container.wrapper {
/*background:url("../images/headershadow.png") no-repeat scroll center 0 transparent;*/
clear:both;
margin-bottom:20px;
margin-left:auto;
margin-right:auto;
padding-top:30px;/*header bgimages!*/
width:980px;
}


.block ul
{
/*padding: 0;*/
}

#header-block .block ul, #highlighted-wrapper .block ul, #sidebar-first .block ul, #sidebar-second .block ul, #footer-wrapper-inner .block ul
{
padding: 0;
margin-bottom: 6px;/*reset.css*/
}

#header-block .block ul.menu li, #highlighted-wrapper .block ul.menu li, #sidebar-first .block ul.menu li, #sidebar-second .block ul.menu li, #footer-wrapper-inner .block ul.menu li
{
padding: 0;
margin: 0;
}

/*    background: url("../images/bk_horiz_line.jpg") repeat-x scroll 0 bottom transparent;*/
#sidebar-first .block h3 {
color:#2F4F4F;
float:left;
font-size:18px;
font-weight:bold;
line-height:1em;
margin-bottom:3px;
margin-left:8px;
padding:0 2px 2px;
text-shadow:1px 1px 1px #EEEEEE;
}

#sidebar-second .block h3 {
color:#002244;
font-family:EcoFiveBoldCE,Impact,sans-serif;
font-size:20px;
font-weight:normal;
line-height:44px;
padding:0 0 0;
margin-bottom: 0;/*reset.css*/
text-shadow:0 1px 0 #FFFFFF, 0 3px 0 #DDDDDD;
}

.block ul.menu a
{
/*margin: 0;
padding: 0 8px 0 8px;*/
/*font-weight:lighter;*/
white-space:nowrap;
}

.block ul.menu li a:hover
{
/*padding: 0 14px 0 2px;*/
text-decoration:none;
list-style-type: circle;
}


.block-inner li, .item-list ul li, li.leaf, li.expanded
{
list-style-type: none;
list-style-image: none;
}


/*MAIN*/
#main
{
position:relative;/*IE bug*/
}

.node, .node-form {
    margin-bottom: 30px;
}


.not-front #breadcrumb
{
/*float:right;*/
}



#main .meta2inner {
    float: left;
    font-family: georgia;
    font-weight: bold;
    margin: 0 0 0 -58px;
    text-align: center;
}

#main .meta2inner .pday {
    font-size: 36px;
    line-height: 32px;
}

#main .meta2inner .pmonth {
    font-size: 12px;
    line-height: 44px;
}

/*.meta*/
span.submitted {
    float: right;
    font-size: 12px;
    margin-bottom: 30px;
}

.node img
{
float: left;
background-color: #FFFFFF;
border: 2px solid #CCCCCC;
padding: 3px;
margin:8px 15px 8px 0;
}

/*title and field_subtitle*/
/*.page-node .meta*/ h2.title_submitted {
    background: url("../images/title_sep3.png") no-repeat scroll left bottom transparent;
    line-height: 42px;
    margin: 0 0 0 -60px;
    padding-left: 60px;
    white-space: nowrap;
/*    overflow: hidden;
 */ /* az opera miatt van kikommentezve ez a sor */
/*page*/
    color: #002244;
    font-size: 30px;
    font-weight: normal;
/*IE8 bug*/
    /*float:left;*/
}

#content .meta
{
/*float: right;ell*/
}

.content
{
clear: both;/*ell*/
}

.region-inner .node .content
{
background: url("../images/bk_horiz_line.jpg") repeat-x scroll 0 top transparent;
padding-top: 10px;
}

.wrapper-outer .content p
{
color: #000000;
}

/*.front .wrapper-outer .content p, .page-taxonomy .wrapper-outer .content p, .page-category .wrapper-outer .content p*/
.front #main .content p, .page-taxonomy #main .content p, .page-category #main .content p {
    clear: both;
    color: #333333;
background-color: white;
}

.wrapper-outer .content .field-name-field-summary p {
    color: #FFFFFF;/*override black p*/
    font-size: 16px;
    font-weight: bold;
}

.body-field-wrapper
{
clear: both;
}

.not-front .meta
{
margin-top:0px;
}

.front .meta, .page-taxonomy .meta, .page-category .meta/*order!*/
{
/*see content h2*/
/*???????????????????????????????
margin-top:38px;*/
}

.node_read_more {
clear: both;
float: right;
}

/*#main .content cite */
#main .content blockquote {
background:url("../images/cite.png") repeat-y scroll 0 0 transparent;
color:#000000;
font-style:normal;
float:right;
padding:5px 0 5px 25px;
}

#comments {
float:left;
margin-top:20px;
}

#main thead  {
background:none repeat scroll 0 0 #E0E0E0;
font-weight: bold;
}

/*table td{border:1px solid #B0B0B0;}*/

#main tbody tr
{
border-bottom:1px solid #E0E0E0;
}

#main-inner .region-inner .content p, #main-inner .region-inner .content div/*all deafault content*/
{
text-align: justify;
}


/*FORM*/

form .container-inline a {
    margin: 10px;
    padding: 2px;
    position: relative;
    top: 10px;
}

.form-checkboxes .form-item, .form-radios .form-item {
    float: left;/*not IE compatible!*/
    margin-bottom: 0;
    margin-top: 0;
padding-right: 1em;
}

.form-item .description {
    clear: both;
    font-size: 0.9em;
font-style: italic;
}

.content-type-katalog-edit .form-checkboxes, .content-type-katalog-edit .form-radios, .content-type-katalog-edit .form-item select
{
    margin: 1em 0 0.1em 0;
}

.content-type-katalog-edit .container-inline
{
padding: 10px;
}


/*BUTTON */
input[type="text"], textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CECEC1 #DEDED0 #F6F6EC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    padding: 5px 7px 6px;
}

input[type="submit"] {
background-color: #F6F6F6;
border: 1px solid #CCCCCC;
color: #333333;
font-weight: bold;
margin: 10px;
padding: 2px;
/*oldalsav???? login search*/
}


/*TABLE*/
table {
/*    border-collapse: separate;*/
background-color: #FFFFFF;
border-top: 1px solid #E0E0E0;
}

thead th
{
background-color: #F5F5F0;
border-bottom: 2px solid #E0E0E0;
padding-right:2px;
padding-left:3px;
}

table tr
{
border-left:1px solid #E0E0E0;
border-right:1px solid #E0E0E0;
}

table td
{
padding-right:2px;
padding-left:3px;
}

tr.odd {
    background-color: transparent;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
}

.odd td/*IE*/
{
background-color: transparent;
}

tr.even
{
    background-color: transparent;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
}

.even td/*IE*/
{
background-color: transparent;
}

td.active
{
background-color: #E0E0E0;
}

/*FOOTER*/
#footer-wrapper
{
    background: url("../images/strip-fibertext-top.png") repeat-x scroll 0 0 #14801D;
/*url("../images/eco-bg-spotlight-rpt.jpg") repeat-x scroll center top #679810;*/
}

#footer .block-inner
{
text-align:left;
margin-bottom:0;
}

#footer-wrapper-inner {
    /*?????EI float bug ld. fent!*/
    clear: both;
    float: none;
margin-left: auto;
margin-right: auto;
width: 980px;
    position: relative;
    padding: 30px 0;
    position: relative;
color:#FFFFFF;
text-shadow:0 -1px 0 #666666;
font-weight:bold;
font-size:14px;
}

#footer-wrapper-inner .block
{
padding: 20px 0;
}

#footer-wrapper-inner .block-last, #footer-wrapper-inner .block-first
{
padding: 0;
}



#footer-bottom-left {
    background: none repeat scroll 0 0 #106818;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
-khtml-border-radius: 15px 15px 15px 15px;
    float: left;
    margin-right: 15px;
    padding: 15px 20px;
    width: 640px;/*680-2x20padding*/
}


#footer-bottom-right  {
float:right;
width:240px;
margin-left:15px;
}

#footer-bottom-single
{
padding-top: 30px;
/*?????EI float bug ld. fent!*/
    clear: both;
    float: none;
    position: relative;
text-align: center;
}


#footer-wrapper-inner h1, #footer-wrapper-inner h2, #footer-wrapper-inner h3, #footer-wrapper-inner h4, #footer-wrapper-inner h5
{
color: #FFFFFF;
text-shadow: none;
}

#footer-wrapper-inner .title {
    font-family: EcoFiveBoldCE,Impact,sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 0 -1px 0 #666666;
}

#footer-wrapper-inner .content li {
color: #E0E0E0;
}

#footer-wrapper-inner a
{
color: #FFFFFF;
}

#footer-wrapper-inner .block ul.menu a:hover
{
/*color: #E0E0E0;*/
padding: 0 8px 0 8px;
/*text-decoration:none;*/
}

#footer-wrapper-inner a:hover
{
/*color: #E0E0E0;
text-decoration:none;*/
}

#footer-wrapper-inner li a.active
{
color: #E0E0E0;
}

#footer-wrapper .marker, #footer-wrapper .form-required {
    color: #FFFF00;
}

#legal {
    background: url("../images/bottomtree.gif") no-repeat scroll center 10px #14801D;
    color: #60A555;
    margin-left: auto;
    margin-right: auto;
    padding: 94px 0 0;
    text-shadow: 0 1px 0 #666666;
}

#legal a
{
color: #69AF60;
}




/*BLOCK SPECIFIC*/
/*AND 3rd party*/

#page-title.title em
{
color:#002244;
display:block;
}

#sidebar-first .block legend, #sidebar-second .block legend
{
white-space: normal;/*CAPTCHA ????interference????*/
}

#sidebar-second #block-system-user-menu, #sidebar-second #block-system-management {
/*background-color: #FFFCEB; ALT*/
    border: 2px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-khtml-border-radius: 10px 10px 10px 10px;
    padding: 0 10px;
}

#sidebar-second #block-system-user-menu a, #sidebar-second #block-system-management a
{
color: #135285;/*ALT 546B0C*/
}

#sidebar-second #block-system-user-menu a:hover, #sidebar-second #block-system-management a:hover
{
color: #4589C9;/*ALT 739211*/
}


/*page user*/
.page-user #main .region-inner, .page-users #main .region-inner
{
/*background-color:#FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-khtml-border-radius: 10px 10px 10px 10px;
    clear: both;
    padding: 10px;*/
    
/*IE problem! See content filter!*/
}

/*footer message

#footer-message {
    background: url("../images/macssor.png") repeat-x scroll 0 100% transparent;
    height: 40px;
    padding: 10px 0;
}*/

/*footer*/

.field-field-image img {
    border: 6px solid #EEEEEE;
    float: left;
    margin-bottom: 10px;
    padding: 1px;
}

.node img, .mceContentBody img, .cke_show_borders img
{
float: left;
background-color: #FFFFFF;
border: 2px solid #CCCCCC;
padding: 3px;
margin:8px 15px 8px 0;
}

.mceContentBody, .cke_show_borders
/*3rd party*/
{
background-image:none;
background-color:#FFFFFF;
}


.node a img:hover {
    border: 6px solid #DDDDDD;
}

/*HERE1*/

.field.field-name-field-summary  {
background:url("../images/strip-fibertext.png") repeat-x scroll 0 0 #14801D;
color:#FFFFFF;
    border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
-khtml-border-radius: 15px 15px 15px 15px;
/*border:6px solid #124578;*/
padding:20px;
margin-top:30px;
}

/*do not style editor field*/

#block-node-recent table {
background-color:transparent;
border-top:1px solid transparent;
border-collapse:separate;/*vert line*/
}

tr.odd, tr.even {
border-bottom:1px solid transparent;
}

/*klorofill*/

h1#site-name {
    float: left;
    line-height: 50px;
    margin: 10px 0 0 0;
    position: relative;
}

h1#site-name a {
    color: #003366;
    font-family: EcoFiveBoldCE,Impact,sans-serif;
    font-size: 54px;
    font-weight: normal;
    line-height: 80px;
    text-shadow: 0 1px 0 #FFFFFF, 0 4px 0 #DDDDDD;
}

h1#site-name a:hover
{
text-decoration:none;
color:#14801D;
font-style: normal;
}

#site-slogan {
    color: #14801D;
    display: inline;
    font-family: EcoFiveBoldCE;
    font-size: 54px;
    font-style: inherit;
    font-weight: normal;
    line-height: 80px;
top: 10px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF, 0 4px 0 #DDDDDD;
}

